*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Raleway', sans-serif;
  background: #3498d8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3498d8 0%, #e2e2e2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3498d8 0%, #e2e2e2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3498d8 0%, #e2e2e2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
}

.logo {
  padding: 20% 0 0 35%;
  background-color: #5F81A3;
}

aside {
  background-color: #5F81A3;
  color: #fff;
  padding-left: 5%;
}

aside h3 {
  padding-top: 15px;
}

#left-nav ul li {
  list-style-type: none;
  line-height: 19px;
  padding: 10px;
}

#left-nav ul li a {
  text-decoration: none;
  color: #fff;
  float: left;
}

#left-nav ul li a:hover {
  color: #333333;
}

.wrapper {
  max-width: 1020px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}

.content h1 {
  color: #fff;
}

footer {
  background-color: #5F81A3;
  text-align: center;
}

footer ul li {
  display: inline;
  list-style-type: none;
  color: #ffffff;
}

footer ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}

footer ul li a:hover {
  color: #333333;
}

@media screen and (min-width: 500px) {
  .sidebar {
    grid-template-columns: 1fr,
  }
  .account-info {
    float: right;
  }
  .account-info h2 {
    color: #fff;
    display: inline;
    margin-top: 20px;
  }
  .account-info p {
    display: inline;
    color: #fff;
  }
  .fa-sign-out {
    display: inline;
    color: #fff;
  }
  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
  }
  .footer {
    grid-column: 1 / -1;
  }
  .wrapper .boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px 200px;
    grid-gap: 20px;
  }
  .wrapper .boxes .inner-box {
    border: solid white 2px;
  }
  footer .left-footer-block {
    float: left;
    margin-left: 5%;
  }
  footer .link-block {
    float: right;
    margin-right: 5%;
  }
}
