html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #3498d8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3498d8 0%, #e2e2e2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3498d8 0%, #e2e2e2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3498d8 0%, #e2e2e2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #333333;
}

nav, section {
  max-width: 1024px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
  font-weight: normal;
  letter-spacing: .125px;
}

#profile-image {
  display: none;
}

.site-logo {
  display: none;
}

.content h2 {
  padding-bottom: 10px;
  color: #ffffff;
}
.box-1 {
  background: #333333;
  color: #ffffff;
}
.box-1 h3 {
  text-align: center;
  padding: 10px;

}
.box-1 p {
  font-size: 16px;
  padding: 2px;
}

.box-2 {
  background-image: url(../images/succulentimage.jpg);
  background-size: cover;
}

.box-4 {
  background-image: url(../images/mediumurl.jpg);
  background-size: cover;
}

.box-5 {
  background-image: url(../images/dribbleurl.jpg);
  background-size: cover;
}

.box-6 {
  background-image: url(../images/designimage.jpg);
  background-size: cover;
}

.box-3 {
  background: #34495E;
  color: #ffffff;
}
.box-3 h3 {
  text-align: center;
  padding: 10px 10px 10px 10px;

}
.box-3 p {
  font-size: 16px;
  padding: 2px;
}

.box-3 .second-list {
  padding-top: 50px;
}


@media (max-width:768px) {
  nav {
    width: 100%;
    height: 45px;
    display: block;
    margin: 20px auto;
    background: #transparent;
    font-size: 14px;
    text-align: left;
    position: relative;
  }
  nav .menu {
    position: absolute;
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    top: 45px;
    background: #3498D8;
    transition: max-height 0.2s linear, opacity .4s linear;
  }
  .showMenu {
    max-height: 145px !important;
    overflow: visible !important;
    opacity: 1 !important;
  }
  nav a {
    color: #ffffff;
    background-color: #3498D8;
  }
  nav .menu li,
  nav .menu li a {
    display: block;
  }
  nav .menu li a {
    padding: 10px 15px;
    position: relative;
  }
  nav .menu li a:hover {
    color: #777777;
    background: #333333;
  }
  .dropdown {
    display: none;
  }
  .showDropdown {
    display: block;
    background: #3498D8;
  }
  .toggle {
    margin-right: 10px;
    position: absolute;
    top: 9px;
    right: 10px;
    float: right;
    z-index: 9999;
    border: 2px solid #777777;
    padding: 0px 6px;
    border-radius: 4px;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
  }
  .toggle .span {
    display: block;
    margin: 6px 0;
    width: 17px;
    height: 2px;
    background: #333;
  }
  .toggle:hover >.span {
    background: #777;
  }
}

/*********************************************
              Content
*********************************************/
.content {
  margin-left: 10%;
}
.boxes {
  display: grid;
  grid-template-columns: minmax(100px, 300px);
  grid-gap: 10px;
}

.inner-box {
  min-height: 300px;
}

/*********************************************
              footer
*********************************************/

.copyright-block {
  display: inline;
  font-size: 14px;
}

.link-block ul {
  list-style-type: none;
  float: left;
  padding: 30px 0px 30px 0px;
}

.link-block ul li {
  display: inline;
  font-size: 12px;
}

.link-block ul li a {
  text-decoration: none;
  color: #333333;
}

.link-block ul li a:hover {
  background-color: #333333;
  color: #ffffff;
}

footer {
  width: 100%;
  margin: 30px;
  font-size: 12px;
}

@media (min-width: 768px) {
  header {
    margin: 20px 10% 0 10%;
    width: 80%;
  }
  nav {
    max-width: 960px;
    min-height: 40px;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    background: #transparent;
    font-size: 20px;
    text-align: center;
  }
  nav a {
    color: #ffffff;
  }
  nav .menu li,
  nav .menu li a {
    display: inline-block;
  }
  nav .menu li a {
    padding: 15px 20px;
    position: relative;
  }
  nav .menu li a:hover {
    color: #333333;
  }
  .dropdown {
    position: absolute;
    background: #3498D8;
    border-radius: 4px;
    border: solid #fff 2px;
    transition: all 0.2s linear;
    visibility: hidden;
    opacity: 0;
    transform: translateY(5px);
    z-index: 999;
  }
  .dropdown li,
  .dropdown li a {
    display: block !important;
    padding: none;
  }
  .dropdown li a {
    padding: 10px 15px !important;
  }
  .menu li:hover > .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
  #profile-image {
    display: contents;
  }
  #profile-image li {
    float: right;
    display: inline;
  }
  #profile-image li h3 {
    color: #ffffff;
    margin-top: 30px;
    padding-right: 5px;
  }

  .site-logo {
    display: contents;
  }
  .content {
    margin: 0 auto;
    width: 95%;
    height: calc(100vh - 225px);
    overflow: auto;
  }
  .boxes {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, 350px);
    grid-auto-flow: dense;
  }
  .box-3 {
    grid-row: 1 / span 2;
  }
  .box-5 {
    grid-column: 2 / span 2;
  }
  footer {
    margin: 25px 0 25px 0;
    margin-left: 10%;
    margin-right: 10%;

  }
  .copyright-block {
    font-size: 18px;
    display: inline;
  }
  .link-block ul {
    margin-right: 20%;
    float: right;
    margin-top: -30px;
  }

  .link-block ul li {
    font-size: 18px;
  }
}
