html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  font-family: 'Raleway', sans-serif;
  background: #3498d8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3498d8 0%, #e2e2e2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3498d8 0%, #e2e2e2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3498d8 0%, #e2e2e2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
}

nav, section {
  max-width: 1024px;
  margin: 0 auto;
}

section h2 {
  color: #ffffff;
  margin-left: 30px;
  padding-bottom: 10px;
}

#profile-image {
  display: none;
}

.site-logo {
  display: none;
}

.box-1 {
  background-image: url(../images/pic-1.jpg);
  background-size: cover;
}
.box-2 {
  background-image: url(../images/pic-2.jpg);
  background-size: cover;
}
.box-3 {
  background-image: url(../images/pic-3.jpg);
  background-size: cover;
}
.box-4 {
  background-image: url(../images/pic-4.jpg);
  background-size: cover;
}
.box-5 {
  background-image: url(../images/pic-5.jpg);
  background-size: cover;
}
.box-6 {
  background-image: url(../images/pic-6.jpg);
  background-size: cover;
}
.box-7 {
  background-image: url(../images/pic-7.jpg);
  background-size: cover;
}
.box-8 {
  background-image: url(../images/pic-8.jpg);
  background-size: cover;
}
.box-9 {
  background-image: url(../images/pic-9.jpg);
  background-size: cover;
}
.box-10 {
  background-image: url(../images/pic-10.jpg);
  background-size: cover;
}
.box-11 {
  background-image: url(../images/pic-11.jpg);
  background-size: cover;
}
.box-12 {
  background-image: url(../images/pic-12.jpg);
  background-size: cover;
}
.box-13 {
  background-image: url(../images/pic-13.jpg);
  background-size: cover;
}
.box-14 {
  background-image: url(../images/pic-14.jpg);
  background-size: cover;
}
.box-15 {
  background-image: url(../images/pic-15.jpg);
  background-size: cover;
}
.box-16 {
  background-image: url(../images/pic-16.jpg);
  background-size: cover;
}


section img {
  height: 100%;
  width: 100%;
}
@media (max-width:768px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.25em;
  }
  header {
    margin: 20px 10% 0 10%;
    width: 80%;
  }
  footer {
    width: 100%;
  }
  nav {
    width: 100%;
    height: 45px;
    display: block;
    margin: 20px auto;
    background: #transparent;
    font-size: 14px;
    text-align: left;
    position: relative;
  }
  nav .menu {
    position: absolute;
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    top: 45px;
    background: #3498D8;
    transition: max-height 0.2s linear, opacity .4s linear;
  }
  .showMenu {
    max-height: 145px !important;
    overflow: visible !important;
    opacity: 1 !important;
  }
  nav a {
    color: #ffffff;
    background-color: #3498D8;
  }
  nav .menu li,
  nav .menu li a {
    display: block;
  }
  nav .menu li a {
    padding: 10px 15px;
    position: relative;
  }
  nav .menu li a:hover {
    color: #777777;
    background: #333333;
  }
  .dropdown {
    display: none;
  }
  .showDropdown {
    display: block;
    background: #3498D8;
  }
  .toggle {
    margin-right: 10px;
    position: absolute;
    top: 9px;
    right: 10px;
    float: right;
    z-index: 9999;
    border: 2px solid #777777;
    padding: 0px 6px;
    border-radius: 4px;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
  }
  .toggle .span {
    display: block;
    margin: 6px 0;
    width: 17px;
    height: 2px;
    background: #333;
  }
  .toggle:hover >.span {
    background: #777;
  }
}

.photo-layout {
  margin: 0 5% 0 5%;
  grid-template-columns: repeat(1, 1fr);
}

section img {
  padding: 5px 0;
}

.box-size {
  min-height: 300px;
  max-height: 300px;
  margin: 10px;
}

footer {
  text-align: center;
  padding: 20px 0 60px 0;
  font-size: 12px;
}

footer ul {
  padding: 20px 0 20px 0;
}

footer ul li {
  display: inline;
  list-style-type: none;
  color: #ffffff;
}

footer ul li a {
  text-decoration: none;
  color: #333333;
}

footer ul li a:hover {
  color: #ffffff;
  background-color: #333333;
}

footer .left-footer-block {
  float: left;
  margin-left: 5%;
}
footer .link-block {
  float: left;
  margin-left: 5%;
}

@media (min-width: 768px) {
  header {
    margin: 20px 10% 0 10%;
    width: 80%;
  }
  nav {
    max-width: 960px;
    min-height: 40px;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    background: #transparent;
    font-size: 20px;
    text-align: center;
  }
  nav a {
    color: #ffffff;
  }
  nav .menu li,
  nav .menu li a {
    display: inline-block;
  }
  nav .menu li a {
    padding: 15px 20px;
    position: relative;
  }
  nav .menu li a:hover {
    color: #333333;
  }
  .dropdown {
    position: absolute;
    background: #3498D8;
    border-radius: 4px;
    border: solid #fff 2px;
    transition: all 0.2s linear;
    visibility: hidden;
    opacity: 0;
    transform: translateY(5px);
    z-index: 999;
  }
  .dropdown li,
  .dropdown li a {
    display: block !important;
    padding: none;
  }
  .dropdown li a {
    padding: 10px 15px !important;
  }
  .menu li:hover > .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
  #profile-image li {
    float: right;
    display: inline;
  }
  #profile-image li h3 {
    color: #ffffff;
    margin-top: 30px;
    padding-right: 5px;
  }
  #profile-image {
    display: contents;
  }
  .site-logo {
    display: contents;
  }
  .box-size {
    margin: 0;
  }
  section h2 {
    color: #ffffff;
    margin-left: 52px;
    padding-bottom: 10px;
  }
  .photo-layout {
    margin: 0 auto;
    padding: 0 5% 5% 5%;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 300px));
    grid-template-rows: repeat(4,minmax(150px, 300px));
    grid-gap: 10px;
  }
  .section-overflow {
    height: calc(100vh - 255px);
    overflow: auto;
  }
  footer .left-footer-block {
    float: left;
    margin-left: 10%;
    margin-bottom: -15px;
  }
  footer .link-block {
    float: right;
    margin-right: 10%;
    margin-top: -20px;
  }
  footer {
    font-size: 18px;
    margin-top: 20px;
    padding: 30px 0 50px 0;
  }
}
