html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #333333;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
  font-size: 1.5em;
}

section {
  margin: 0 10% 0 10%;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  font-weight: 100;
}

.responsive-image {
  height: 100%;
  width: 100%;
}

header {
  background: url(../images/cumulushero.jpg) no-repeat center center fixed;
  background-color: #333333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
}

header nav {
  padding: 2em 0;
  margin: 0 5% 0 5%;
}

header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin-top: -15%;
}

header nav ul>li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}

header nav ul>li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

header nav ul>li.btn-outline:hover {
  background: #FFFFFF;
}

header nav ul>li>a {
  color: #FFFFFF;
  text-decoration: none;
}

header nav ul>li.btn-outline:hover>a {
  color: #333333;
}

header .hero {
  color: #FFFFFF;
  text-align: center;
  margin-top: 15%;
}

header h1 {
  font-weight: normal;
}

header .hero p {
  line-height: 1.25em;
  font-size: 16px;
  padding: 0 0 15px 0;
}

.btn {
  padding: 15px 20px;
  border-radius: 4px;
  background-color: #2ECC71;
  text-transform: uppercase;
}

header .hero a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.btn:hover {
  background-color: #E2E2E2;
  color: #333333;
}

.why-cumulus {
  text-align: center;
  margin: 7.5% 0 7.5% 0;
}

.why-cumulus h2 {
  color: #3498D8;
  margin-bottom: 2%;
}

.cumulus-p {
  width: 80%;
  margin: 0 10% 0 10%;
}

.grid-1 {
  grid-template-columns: 1fr;
  padding-top: 4%;
}

.grid-1 a {
  color: #ffffff;
  text-decoration: none;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-gap: 2%;
}

.pricing {
  text-align: center;
  padding: 4em 0;
}

.pricing h2 {
  color: #3498D8;
}

.pricing p {
  color: #333333;
}

.pricing .container {
  margin-bottom: 5%;
}

.pricing ul {
  margin: 0 auto;
  padding: 2%;
}

.pricing ul li {
  list-style-type: none;
}

.one-third {
  padding: 0 10px;
}

.box {
  padding: 0 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
  min-height: 375px;
  position: relative;
  margin-top: 25px;
}

.box a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.box a:hover {
  color: #333333;
}

.box.middle {
  min-height: 400px;
  margin-top: 25px;
}

.box:hover {
  box-shadow: 3px 3px 3px 3px #E2E2E2;
}

.box h3 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background: #3498D8;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.40);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: 0 -15px 40px;
  padding: 10px 0;
}

.box.middle h3 {
  background: #34495E;
  color: #ffffff;
}

.box h4 {
  font-size: 22px;
  font-weight: normal;
  margin: 40px 0 10px;
  color: #3498DB;
}

.box h4 span {
  font-size: 22px;
  vertical-align: top;
}

.box h4 span.month {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #888888;
  font-size: 16px;
  vertical-align: middle;
}

.box ul li {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 100;
}

.box .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.small {
  font-size: 12px;
  color: #FEFEFE;
  font-style: italic;
}

.macbook-image {
  display: block;
  height: 70%;
  width: 70%;
  margin: -5% 15% 0 15%;
}

footer {
  background-color: #E2E2E2;
  height: 80px;
  text-align: center;
}

footer ul li {
  display: inline;
  list-style-type: none;
  color: #ffffff;
}

footer ul li a {
  text-decoration: none;
  color: #333333;
}

footer ul li a:hover {
  color: #ffffff;
  background-color: #333333;
}

.link-block {
  margin-right: 10%;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
    font-weight: normal;
  }

  h2 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px;
    font-weight: 100;
  }
  header {
    height: 700px;
  }
  header nav ul {
    display: inline;
    text-align: right;
    float: right;
    margin-top: -5%;
  }
  header  .hero p {
    font-size: 22px;
  }
  section {
    max-width: 940px;
    margin: 0 auto;
  }
  .features-content h2 {
    color: #ffffff;
    margin: 0;
    padding: 25% 0 5px 0;
    border-bottom: solid 2px;
  }
  .features-content p {
    color: #ffffff;
    padding-bottom: 10px;
  }
  .features-content a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
  }
  .images-section a:hover {
    background-color: #5F81A3;
    color: #ffffff;
  }
  .grid-1 {
    display: grid;
    grid-template-columns: 1fr 30vw 30vw 1fr;
    grid-template-rows: 2vw 24vw 2vw;
    grid-gap: 1.2em;
    margin: 0 auto;
  }
  .features-img-1 {
    background-image: url(../images/notes.jpg);
    background-size: cover;
    grid-row: 1 / span 3;
    grid-column: 2 / span 1;
  }
  .features-img-2 {
    background-image: url(../images/images.jpg);
    background-size: cover;
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
  }
  .features-img-3 {
    background-image: url(../images/laptop.jpg);
    background-size: cover;
    grid-row: 1 / span 3;
    grid-column: 2 / span 1;
  }
  .features-background-1 {
    background: #3498D8;
    grid-row: 2 / 3;
    grid-column: 1 / span 4;
    margin: 0 -500px;
  }
  .features-background-2 {
    background: #E2E2E2;
    grid-row: 2 / 3;
    grid-column: 1 / span 4;
    margin: 0 -500px;
  }
  .grid-2 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
  .grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  .grid-1 .font-color-change {
    color: #333333;
  }
  .box.middle {
    min-height: 430px;
    margin: 0 auto;
  }
  .box h4 {
    font-size: 50px;
  }
  footer {
    height: 50px;
  }
  footer .left-footer-block {
    float: left;
    margin-left: 5%;
  }
  footer .link-block {
    float: right;
    margin-right: 5%;
  }
}
